.banner {
    position: relative;
    background-image: url('./img/banner_homepage.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 600px; 
    display: flex;
    justify-content: left;
    padding: 20px;
    box-sizing: border-box;
    align-items: center;
  }
  
  .content {
    text-align: left;
    color: white;
    padding-left: 3rem;
    padding-bottom: 4rem;
  }
  
  .title {
    font-size: 5.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    padding-right: 15rem;
  }
  
  .button {
    background-color: #28a745;
    color: white;
    padding: 18px 70px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .button:hover {
    background-color: #218838;
  }
  

.discountSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: darkgreen;
    color: white;
    padding: 10px 60px;
    border-radius: 10px;
    margin: 20px 10px;
  }
  
  .discountTitle {
    font-size: 3.5rem;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .discountContentWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
  }
  
  .imageSection {
    flex: 1;
    margin-right: 20px;
  }
  
  .discountImage {
    max-width: 100%;
    border-radius: 10px;
  }
  
  .discountContent {
    flex: 1;
    max-width: 50%;
    text-align: left;
  }
  
  .discountForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .input {
    padding: 15px;
    border: 1px solid rgba(255, 255, 255, 0.6); 
    border-radius: 5px;
    font-size: 1rem;
    color: white; 
    background-color: transparent;
    outline: none;
  }
  
  .input::placeholder {
    color: rgba(255, 255, 255, 0.6); 
  }
  
  .input:focus {
    border-color: white; 
  }
  
  .discountButton {
    background-color: white;
    color: #28a745;
    padding: 15px 30px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .discountButton:hover {
    background-color: #ddd;
  }
  